*.xtc
*.trr
*.tng
*.edr
*.cpt
*.tpr

*.log
mdout.mdp
*.o
*.a
*.so
GMXvg.*.config.gz

*.xvg
!md_centered.xvg
*.xpm
*.txt

step*.pdb

/build/
gromacs_source/
interleukin1b/1i1b_newbox.gro
interleukin1b/1i1b_processed.gro
interleukin1b/1i1b_clean.pdb
interleukin1b/1i1b.pdb
gromacs-2024.4.tar.gz
*~

\#*\#
**/#*#
**/#*
interleukin1b/#*
