* {
  font-family: "Roboto Mono", monospace;
  background-color: #000000;
  color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

main {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;       
  align-items: center;
  justify-content: center;
  gap: 20px;
}

nav ul {
  display: flex;       
  justify-content: space-between;
  padding: 2rem;
  margin: 0;
}

nav ul li {
  font-size: 1.25rem;
  letter-spacing: 2px;
}

li {
  list-style: none;
}

nav {
  margin-bottom: 2rem;
}

video {
  max-width: 50rem;
  padding: 4rem 0 2rem 0;
}

#content {
  text-align: left;
  padding: .6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#content article {
  padding: 2rem;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 2rem;
  padding: 3rem;
}

#gallery a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  overflow: hidden; 
  align-items: center;
  transition: transform 0.2s ease;
}

#gallery a:hover {
  transform: translateY(-5px);
}

.gallery-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;  
  padding: 2rem;
}

#gallery p {
  margin: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

/* protein specific */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 20px;
    margin: 0 auto;
}

.gallery-item {
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

a {
  text-decoration: none;
  font-weight: 100;
}

h2, h3, h4 {
  font-size: 2rem;
  font-weight: 150;
}

h1 {
  font-size: 3rem;
  letter-spacing: .8rem;
  font-weight: 200;
}

